<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
	<title>指派电影院管理员</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<style>
    .subbtn {
      position: relative;
      display: inline-block;
      background: #3cc3c1;
      border: none;
      border-radius: 5px;
      padding: 4px 12px;
      overflow: hidden;
      color: #fff;
      text-decoration: none;
      text-indent: 0;
      line-height: 20px;
    }
	.subbtn:hover {
    background: #f9e95e;
      /* border-color: #9DD2D8; */
      color: #000;
      text-decoration: none;
      transition-duration: 500ms;
    }


		html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
			display: block;
		}
	</style>
  </head>
  <body>
	<!-- <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div> -->
	<div class="preloader"></div>
	<div class="page">
      <!-- Page Header-->
      <header class="section page-header header-creative-wrap context-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer" style="background-color: #3cc3c1;">
                <p style="display: block; position: relative; float: left; font-size: 25px; padding-top: 16px; ">电影订票系统</p>
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap" style="padding-left: 600px;">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index">Home</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="CinemaList">影院列表</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="MovieList">影院列表</a></li>                    
                    <li class="rd-nav-item"><a class="rd-nav-link" href="login">管理员入口</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- login in system -->
      <section class="section section-xl bg-default text-md-left" style="padding-bottom: 15px;">
        <div class="container">
          <div class="title-classic">
            <h4>为电影院指派电影院管理员</h4>
          </div>
          
          注意一个影院只能有一个电影院管理员，一个电影院管理员也只能负责一个影院的管理工作！
          <!-- <h6>创建影院</h6> -->
        </div>
      </section>

    <!-- 指派电影院对应的管理员 -->
    <section class="section section-xl bg-default text-md-left" style="padding-top: 15px;">
        <div class="container">
            <div class="row row-50 row-md-60">
                <div class="col-lg-8 col-xl-9">
                    <form action="{{ url_for('assign') }}" method="POST" enctype="multipart/form-data">
                        <div class="row row-20 row-md-30">
                          <div class="col-lg-8">
                            <div class="row row-20 row-md-30">
                              <!-- TODO: 这里的框架还差一点没写完 -->
                              <div class="col-sm-12">
                                <div class="form-wrap">
                                  <label class="form-label" for="contact-first-name-2" style="font-size: 17px;">电影院名称</label><br><br>
                                  <select name="cinemaname" class="form-input">
                                      {% for item1 in res1 %}
                                      <option class="rd-dropdown-item" value="{{item1[0]}}">{{item1[1]}}</option>
                                      {% endfor %}
                                  </select>
                                </div>
                              </div>
                              <div class="col-sm-12">
                                <div class="form-wrap">
                                  <label class="form-label" for="contact-first-name-2" style="font-size: 17px;">电影院管理员账号</label><br><br>
                                  <select name="adminname" class="form-input">
                                      {% for item2 in res2 %}
                                      <option class="rd-dropdown-item" value="{{item2[0]}}">{{item2[0]}}</option>
                                      {% endfor %}
                                  </select>
                                </div>
                              </div>
                              
                            </div>
                          </div>
        
                        </div>
                        <input class="button button-lg button-primary button-zakaria" type="submit" name="action" value="指派" >
                      </form>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="aside row row-30 row-md-50 justify-content-md-between">
                      
                      <div class="aside-item col-sm-6 col-lg-12">
                        <h6 class="aside-title">待分配电影院<span class="list-categories-number">({{ res1len }})</span></h6>
                        <ul class="list-marked list-archives d-inline-block d-md-block">
                          {% for item1 in res1 %}
                          <li><a href="#">{{ item1[1] }}</a></li>
                          {% endfor %}
                          
                        </ul>
                      </div>
                      <div class="aside-item col-sm-6 col-lg-12">
                        <h6 class="aside-title">待指派电影院管理员<span class="list-categories-number">({{ res2len }})</span></h6>
                        <ul class="list-marked list-archives d-inline-block d-md-block">
                          {% for item2 in res2 %}
                          <li><a href="#">{{ item2[0] }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
    
    {% if messages == "done" %}
        <script>alert("指派电影院管理员成功！")</script>
        <!-- <script type='text/javascript'>window.location.href='sysadminPage?sysadmin='</script> -->
    {% endif %}
        
      <!-- Page Footer-->
      <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
          <div class="container">
            <p class="rights"><span>Copyright &copy; 天津大学软件工程2020春季</span></p>
            <p>项目地址：<a class="link" href="https://github.com/lilyht/MovieBookingSystem" style="color: write;">https://github.com/lilyht/MovieBookingSystem</a></p>

          </div>
        </div>
      </footer>
    </div>
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
