<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
	<title>影院管理员页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<style>
		.ie-panel {
			display: none;
			background: #212121;
			padding: 10px 0;
			box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
			clear: both;text-align:center;
			position: relative;
			z-index: 1;
		}
		html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
			display: block;
		}
	</style>
  </head>
  <body>

    <script>
        function GetRequest() {
          var url = location.search; //获取url中"?"符后的字串
          var theRequest = new Object();
          if (url.indexOf("?") != -1) {
              var str = url.substr(1);
              strs = str.split("&");
              for (var i = 0; i < strs.length; i++) {
                  theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
              }
          }
          return theRequest;
      }
      </script>

	<div class="preloader"></div>
	<div class="page">
      <!-- Page Header-->
      <header class="section page-header header-creative-wrap context-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer" style="background-color: #3cc3c1;">
                <p style="display: block; position: relative; float: left; font-size: 25px; padding-top: 16px; ">电影订票系统</p>
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap" style="padding-left: 600px;">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index">Home</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="CinemaList">影院列表</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="MovieList">影片列表</a></li>                    
                    <li class="rd-nav-item"><a class="rd-nav-link" href="login">管理员入口</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- login in system -->
      <section class="section section-xl bg-default text-md-left">
        <div class="container">
          <div class="title-classic">
            <h4 class="title-classic-title" id="cinadminname">{{cinadminname}}</h4><br><br/>
          </div>
          <h6>影院管理员具有对所负责的影院修改、更新信息和上传上映影片等权限</h6>
        </div>
      </section>
      

      <section class="section section-xxl bg-default text-md-left" style="padding-top: 30px;">
        <div class="container">
            <div class="row row-30 row-md-60 row-lg-70 justify-content-center align-items-md-center">
            <!-- 功能 -->
            <div class="col-xl-12">
                <div class="row row-30">
                  <div class="col-sm-12 col-lg-6 wow fadeInLeft">
                    <article class="box-icon-creative">
                      <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                        <div class="unit-left">
                          <div class="box-icon-creative-icon fl-bigmug-line-sand14"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="box-icon-creative-title"><a id="alink" href="updatecininfo">影院信息更新</a></h5>
                          <p class="box-icon-creative-text">对您负责的影院进行信息更新</p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-sm-12 col-lg-6 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-creative">
                      <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                        <div class="unit-left">
                          <div class="box-icon-creative-icon fl-bigmug-line-graphical8"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="box-icon-creative-title"><a id="blink" href="#">上传新影片</a></h5>
                          <p class="box-icon-creative-text">为您负责的影院上传新的放映影片信息</p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-sm-12 col-lg-6 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-creative">
                      <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                        <div class="unit-left">
                          <div class="box-icon-creative-icon fl-bigmug-line-opened25"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="box-icon-creative-title"><a id="clink" href="#">派送票员送票</a></h5>
                          <p class="box-icon-creative-text">派送票员送票</p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-sm-12 col-lg-6 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-creative">
                      <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                        <div class="unit-left">
                          <div class="box-icon-creative-icon fl-bigmug-line-list63"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="box-icon-creative-title"><a id="dlink" href="#">统计分析</a></h5>
                          <p class="box-icon-creative-text">统计受欢迎的电影片</p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <script>
        var a = GetRequest();
        var cinadminname=a['cinadmin'];
        console.log(a)
        if(cinadminname != null) {
          console.log("首次登录")
        }
        else{
          cinadminname = document.getElementById('cinadminname').innerHTML;
        }
        console.log(cinadminname)
        document.getElementById('cinadminname').innerHTML = "欢迎影院管理员 " + cinadminname + " !";
        console.log(document.getElementById('cinadminname').innerHTML)

        //根据id获取超链接,设置href属性
        var aObj = document.getElementById("alink");
        aObj.href = "updatecininfo?cinname=" + cinadminname;
        console.log("a链接已更改");
        console.log(aObj.href);

        var bObj = document.getElementById("blink");
        bObj.href = "uploadmovie?cinname=" + cinadminname;
        console.log("b链接已更改");
        console.log(bObj.href);

        var cObj = document.getElementById("clink");
        cObj.href = "delivery?cinname=" + cinadminname;
        console.log("c链接已更改");
        console.log(cObj.href);

        var dObj = document.getElementById("dlink");
        dObj.href = "analysis";
        console.log("d链接已更改");
        console.log(dObj.href);
        
      </script>
      
      <!-- Page Footer-->
      <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
          <div class="container">
            <p class="rights"><span>Copyright &copy; 天津大学软件工程2020春季</span></p>
            <p>项目地址：<a class="link" href="https://github.com/lilyht/MovieBookingSystem" style="color: write;">https://github.com/lilyht/MovieBookingSystem</a></p>

          </div>
        </div>
      </footer>
    </div>
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
