<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
	<title>电影订票系统首页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<style>
		.ie-panel {
			display: none;
			background: #212121;
			padding: 10px 0;
			box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
			clear: both;text-align:center;
			position: relative;
			z-index: 1;
		}
		html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
			display: block;
		}
	</style>
  </head>
  <body>
	<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
	<div class="preloader">
		<div class="preloader-body">
			<div class="cssload-bell">
				<div class="cssload-circle">
					<div class="cssload-inner"></div>
				</div>
				<div class="cssload-circle">
					<div class="cssload-inner"></div>
				</div>
				<div class="cssload-circle">
					<div class="cssload-inner"></div>
				</div>
				<div class="cssload-circle">
					<div class="cssload-inner"></div>
				</div>
				<div class="cssload-circle">
					<div class="cssload-inner"></div>
				</div>
			</div>
		</div>
    </div>
	<div class="page">
      <!-- Page Header-->
      <header class="section page-header header-creative-wrap context-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer" style="background-color: rgba(0,0,0,0.3);">
                <p style="display: block; position: relative; float: left; font-size: 25px; padding-top: 16px; ">电影订票系统</p>
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap" style="padding-left: 600px;">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index">Home</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="CinemaList">影院列表</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="MovieList">影片列表</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="about-us.html">About Us</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="what-we-offer.html">What We Offer</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="our-team.html">Our Team</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="pricing-list.html">Pricing List</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="404-page.html">404 Page</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="coming-soon.html">Coming Soon</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="search-results.html">Search Results</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="login">管理员入口</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-4" data-loop="true" data-autoplay="5000">
        <div class="swiper-wrapper context-dark">
          {% for cover in toppopular %}
          <div class="swiper-slide swiper-slide-1" data-slide-bg="{{ cover[3] }}">
            <div class="swiper-slide-caption section-md text-sm-left">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-md-7">
                    <h2 class="swiper-title-1" data-caption-animate="fadeInLeft" data-caption-delay="100">{{cover[0]}} <br>
                    </h2>
                    <p>上映时间：{{cover[2]}}</p>
                    <h5 class="swiper-title-2 text-width-medium" data-caption-animate="fadeInLeft" data-caption-delay="250">{{cover[4]}}</h5>
                    <div class="button-wrap" data-caption-animate="fadeInLeft" data-caption-delay="400"><a class="button button-lg button-shadow-5 button-default-outline button-zakaria" href="{{cover[5]}}" style="font-size: 16px;">预 告 片</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- <div class="swiper-slide swiper-slide-2" data-slide-bg="static/images/slide-2.jpg">
            <div class="swiper-slide-caption section-md text-center">
              <div class="container">
                <h2 class="swiper-title-1" data-caption-animate="fadeInLeft" data-caption-delay="100">Make Your Food Organic</h2>
                <h5 class="swiper-title-2" data-caption-animate="fadeInRight" data-caption-delay="250">With our wide variety of vegan & organic food products, we are sure <br class="d-none d-md-block">to help you make the right choice to start your day.
                </h5>
                <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-shadow-5 button-default-outline button-zakaria" href="grid-shop.html">Shop now</a></div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </section>     
      
      
      <!-- Page Footer-->
      <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
          <div class="container">
            <p class="rights"><span>Copyright &copy; 天津大学软件工程2020春季</span></p>
            <p>项目地址：<a class="link" href="https://github.com/lilyht/MovieBookingSystem" style="color: write;">https://github.com/lilyht/MovieBookingSystem</a></p>

          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>

    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>