<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
	<title>管理员登录页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<style>
		.ie-panel {
			display: none;
			background: #212121;
			padding: 10px 0;
			box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
			clear: both;text-align:center;
			position: relative;
			z-index: 1;
		}
		html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
			display: block;
		}
	</style>
  </head>
  <body>
	<!-- <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div> -->
	<div class="preloader"></div>
	<div class="page">
      <!-- Page Header-->
      <header class="section page-header header-creative-wrap context-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer" style="background-color: #3cc3c1;">
                <p style="display: block; position: relative; float: left; font-size: 25px; padding-top: 16px; ">电影订票系统</p>
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap" style="padding-left: 600px;">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index">Home</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="CinemaList">影院列表</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="MovieList">影片列表</a></li>                    
                    <li class="rd-nav-item"><a class="rd-nav-link" href="login">管理员入口</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- login in system -->
      <section class="section section-xl bg-default text-md-left">
        <div class="container">
          <div class="title-classic">
            <h4 class="title-classic-title">管理员 / 送票员登录</h4>
          </div>
          <!-- 登录表单 -->
          <form method="post" action="" method="POST">
            <div class="row row-20 row-md-30">
              <div class="col-lg-8">
                <div class="row row-20 row-md-30" style="padding-top: 7px;">
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-first-name-2" type="text" name="adminname"/>
                      <label class="form-label" for="contact-first-name-2">用户名</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-last-name-2" type="password" name="password"/>
                      <label class="form-label" for="contact-last-name-2">密码</label>
                    </div>
                  </div>
                  <div style="padding-left: 15px;">
                    <label class="checkbox-inline">
                        <input name="adminRole" value="SYSADMIN" type="checkbox">系统管理员
                    </label>
                    <label class="checkbox-inline" style="margin-left: 15px;">
                        <input name="adminRole" value="CINADMIN" type="checkbox">电影院管理员
                    </label>
                    <label class="checkbox-inline" style="margin-left: 15px;">
                      <input name="adminRole" value="COURIER" type="checkbox">送票员
                  </label>
                  </div>
                </div>
              </div>
            </div>
            <button class="button button-lg button-primary button-zakaria" type="submit">确认登录</button>
          </form>
        </div>
      </section>
    
    <input id="username" value="{{username}}" style="display: none;">
    {% if messages == "done1" %}
        <script>alert("登录成功！欢迎系统管理员！")</script>
        <script type='text/javascript'>
          var sysadminname = document.getElementById("username").value;
          console.log(sysadminname)
          window.location.href='sysadminPage?sysadmin='+sysadminname;
        </script>
    {% elif messages == "fail1" %}
        <script>alert("登录失败！您没有系统管理员权限或登录信息出错。")</script>
    {% elif messages == "done2" %}
        <script>alert("登录成功！欢迎影院管理员！")</script>
        <script type='text/javascript'>
          var cinadminname = document.getElementById("username").value;
          console.log(cinadminname)
          window.location.href='cinadminPage?cinadmin='+cinadminname;
        </script>
    {% elif messages == "fail2" %}
        <script>alert("登录失败！您没有影院管理员权限或登录信息出错。")</script>
    {% elif messages == "done3" %}
        <script>alert("登录成功！欢迎配送员！")</script>
        <script type='text/javascript'>
          var couriername = document.getElementById("username").value;
          console.log(couriername)
          window.location.href='courierPage?couriername='+couriername;
        </script>
    {% elif messages == "fail3" %}
        <script>alert("登录失败！您没有配送员权限或登录信息出错。")</script>
    {% endif %}
        
      <!-- Page Footer-->
      <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
          <div class="container">
            <p class="rights"><span>Copyright &copy; 天津大学软件工程2020春季</span></p>
            <p>项目地址：<a class="link" href="https://github.com/lilyht/MovieBookingSystem" style="color: write;">https://github.com/lilyht/MovieBookingSystem</a></p>

          </div>
        </div>
      </footer>
    </div>
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>