<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <title>影院列表</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/csimages" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
        <style>
            .ie-panel {
                display: none;
                background: #212121;
                padding: 10px 0;
                box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
                clear: both;text-align:center;
                position: relative;
                z-index: 1;
            }
            html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
                display: block;
            }
        </style>
    </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader"></div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header header-creative-wrap context-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer" style="background-color: #3cc3c1">
                <p style="display: block; position: relative; float: left; font-size: 25px; padding-top: 16px; ">电影订票系统</p>
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap" style="padding-left: 600px;">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index">Home</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="CinemaList">影院列表</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="MovieList">影片列表</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="login">管理员入口</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="breadcrumbs-custom" style="margin-top: 70px;">
        <div class="parallax-container" data-parallax-img="static/images/影院.png">
          <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
              <h2 class="text-transform-capitalize breadcrumbs-custom-title">影片列表</h2>
              <h5 class="breadcrumbs-custom-text">Movie List</h5>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path"> 
              <!-- 路径 -->
              <li><a href="index">Home</a></li>
              <li><a href="MovieList">影片列表</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- 搜索 -->
      <section style="margin: 65px;">
        <div class="aside-item col-sm-6 col-md-5 col-lg-12">
        <form class="rd-search form-search" action="{{ url_for('search_results') }}" method="GET">
          <div class="form-wrap">
            <input class="form-input" id="search-form" type="text" name="s" autocomplete="off">
            <input class="form-input"  type="text" value="2" name="searchtype" style="display: none;">
            <label class="form-label" for="search-form">搜索（可根据影片名/时间进行检索）</label>
            <button class="button-search fl-bigmug-line-search74" type="submit"></button>
          </div>
        </form>
        </div>
      </section>


      <!-- 影片列表-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <div class="row row-lg row-50 justify-content-center">
            {% if messages == 'done' %}
              {% for item in result %}
                <div class="col-sm-6 col-md-5 col-lg-4">
                  <article class="team-modern box-sm"><a class="team-modern-figure" href="#"><img src="{{ item[4] }}" alt="" style="height: 400px;" /></a>
                    <h5 class="team-modern-name"><a href="#">{{ item[0] }}</a></h5>
                    <p class="team-modern-text">时长：{{ item[3] }} 分钟</p>
                  </article>
                  <div>
                    <form action="{{ url_for('MovieDetail2') }}" method="GET">
                      <input class="form-input" type="text" name="movie" value="{{ item[0] }}" style="display: none;"/>
                      <button class="button button-lg button-primary button-zakaria" type="submit" style="padding: 10px 20px;">查看影片详情</button>
                    </form>
                  </div>
                </div>
              {% endfor %}
            {% elif messages == 'none' %}
            <div class="alert alert-danger" role="alert">还没有影片，请等待管理员上传影片！</div>
            {% endif %}
          </div>
        </div>
      </section>
      
      <!-- Page Footer-->
      <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
          <div class="container">
            <p class="rights"><span>&copy; 天津大学软件工程2020春季</span></p>
            <p>项目地址：<a class="link" href="https://github.com/lilyht/MovieBookingSystem" style="color: write;">https://github.com/lilyht/MovieBookingSystem</a></p>

          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>